.footer {

  margin-left: 70px;
  width: 100%;
  height: 10%;
  background: #1C2B36 !important;
  border-top-color: rgba(0, 0, 0, 0.2) !important;
  color: #ffffff;

}

.footer-inner {
  margin-left:12%;
}
