<form name="regForm" id="regForm" class="form-login" novalidate ng-submit="form.submit(regForm)" >

  <div class="row">

      <div class="col-md-12">

          <div class="complete-registration-box">

              <h1>Account Registration</h1>

              <div class="row">
                  <div class="col-md-6 form-group">
                      <label for="firstName">First name</label>
                      <input id="firstName" name="firstName" type="text" class="form-control" ng-required="true" [ngModel]="model.firstName" readonly />
                  </div>
                  <div class="col-md-6 form-group">
                      <label for="lastName">Last name</label>
                      <input type="text" class="form-control" ng-required="true" name="lastName" [ngModel]="model.lastName" readonly />
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 form-group">
                      <label for="email">Email</label>
                      <div class="has-feedback">
                          <span class="fa fa-envelope form-control-feedback" aria-hidden="true"></span>
                          <input type="email" id="email" name="email" class="form-control" ng-required="true" [ngModel]="model.email" readonly />
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6 form-group" (ngClass)="{'has-error': regForm.password.$invalid && !regForm.password.$pristine}">
                      <label for="password">Password</label>
                      <div class="has-feedback">
                          <input type="password" id="password" name="password" class="form-control" [ngModel]="model.password" ng-minlength="6" required/>
                          <span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
                      </div>
                      <!-- <span class="help-block" ng-show="regForm.password.$error.required && !regForm.password.$pristine">Password is required</span>
                      <span class="help-block" ng-show="regForm.password.$error.minlength && !regForm.password.$pristine">The password must be of minimum length 6 characters</span> -->
                  </div>
                  <div class="col-md-6 form-group" (ngClass)="{'has-error': regForm.confirmPassword.$error.match && !regForm.confirmPassword.$pristine}">
                      <label for="confirmPassword">Confirm Password</label>
                      <div class="has-feedback">
                          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" [ngModel]="model.confirmPassword" validate-equal="model.password" required/>
                          <span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
                      </div>
                      <!-- <span class="help-block" ng-show="regForm.confirmPassword.$error.match && !regForm.password.$pristine">Password mismatch</span> -->
                  </div>

              </div>

              <hr>
            <div >
              <button class="btn btn-light-wk login-btn" ng-disabled="regForm.$invalid" routerLink="addorjoin">
                  Submit
              </button>
            </div>

          </div>
          <!-- end comp registration box -->


      </div>

  </div>
  <!-- end row -->

</form>
