<div id="container" class="wrap-content container fade-in-up">

  <div class="logo-title text-center">
    <img src="../assets/images/weekcheck-logo-full_small.png" style="max-width: 320px;text-align: center;" />
  </div>

  <div class="row">
    <div class="main-login" style="width:100%; max-width: 450px; margin-left:auto;margin-right:auto">

      <div class="box-login login-box">
        <form name="Form" id="form1" class="form-login">
          <fieldset style="background:transparent; border: 0; padding:0;">
            <h4>
              Sign In
            </h4>

            <p>
              Please enter your email and password to log in.
            </p>

            <div class="form-group">
              <span class="input-icon">
                <input  [formControl]="email" type="email" name="email" placeholder="Email"  class="form-control" required>
              </span>
            </div>

            <div class="form-group">
              <span class="input-icon"></span>
              <input [formControl]="password" type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <diV class="check">
              <p>
                <mat-checkbox> Keep me signed in</mat-checkbox>
              </p>
            </diV>
            <div class="form-actions">

              <div class="forget"><a href="#">Forgot password?</a>
                <button type="submit" (click)="checkEmployee()" class="btn btn-dark-azure pull-right" mat-raised-button
                  color="primary">
                  Login <i class="fa fa-arrow-circle-right" style="width:auto;height:auto"></i>
                </button>
              </div>
            </div>
          </fieldset>

        </form>
      </div>
    </div>
  </div>
</div>
<div class="sid">
  <span>Need a account? Register </span><a type="button" class="reg" (click)="openDialog()">here</a>
</div>
<!-- end: LOGIN -->
