<fieldset>
    <legend>
        Time Off Info <span ng-show="employeeName !== undefined">for </span>
    </legend>
  <ng-container input="startTime" label="Start Time" error="Start Time is required" success="Thank You!"> 
        <input kendo-date-time-picker name="startTime" k-ng-model="model.startTime" ng-model="model.startTimeStr" onkeydown="return false;" required />
   </ng-container> 
    <ng-container input="endTime" label="End Time" error="End Time is required" success="Thank You!">
        <input kendo-date-time-picker name="endTime" k-ng-model="model.endTime" ng-model="model.endTimeStr" onkeydown="return false;" required />
   </ng-container>
    <!-- <div class="form-group">
        <label class="control-label">
            Is this request for the whole day?123               
        </label>
        <div class="checkbox clip-check check-primary">
            <input type="checkbox" value="" id="allDay" name="allDay" ng-model="model.allDay">
            <label for="allDay"/>
        </div>
    </div> -->                     
                        
    <div class="form-group">
        <label class="control-label">
            Please add any notes you may have for the approver
        </label>
        <div class="note-editor note-editor-modal">
            <textarea class="form-control autosize msd-elastic: \n;" ng-model="model.notes" maxlength="300"></textarea>
        </div>
    </div>
</fieldset>
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.timeoff.CREATE"></h1>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<div id="p_prldr" class="k-loading-mask">
    <div class="k-loading-image"></div>
</div>   
<!-- start: CREATE TIME OFF -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <div>
                <form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <div ng-include="'timeoff/templates/formData.tpl.html'" />
                        </div> -->
                        <div class="col-md-6">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <button type="submit" class="btn btn-dark-azure">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-dark-azure btn-o" ng-click="form.reset(Form)">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end: CREATE TIME OFF -->
