
<style>
  body {
      background: #fff;
  }

  .main-content {
      margin-left: 0;
      margin-top: 0;
  }
</style>

<div id="container" class="wrap-content" >


      <div class="logo-title">
          <img style="width: 200px;margin-bottom: 20px;" src="assets\images\weekcheck-logo-full_small.png" />
          <!--<span class="logo" style="font-family: Raleway; color:#333; font-size:18px;">Week Keeper</span>-->
      </div>

  <form name="Form" id="form1" class="form-login" novalidate >

      <div class="row">

          <div class="col-md-12">

              <div class="registration-type-box">
                  <h4>Would you like to join a current business or create a new one?</h4>

                  <div class="btn-group" data-toggle="buttons" >
                      <label class="btn btn-default" >
                          <input name="regtypeopt" id="existingBusins" type="radio"  [checked]="true" (change)="select('je')">
                          <span class="ti-control-record input-default" ></span>
                          <span class="label-text">Join Existing</span>

                      </label>
                      <label class="btn btn-default" >
                          <input name="regtypeopt"  type="radio" (change)="select('cnb')">
                          <span class="ti-control-record input-default" ></span>
                          <span class="label-text">Create New Business</span>
                      </label>
                  </div>

                  <br />
                  <br />
                  <div class="regtype-details-box">
                      <div class="business">
                      <div *ngIf=" i == 'joinBussiness' ">
                          <p  style="margin: 5px 0 23px">
                              Please enter the business code supplied by your employer.
                          </p>
                          <div class="form-group" id="businessNameDiv" >
                          <input type="text" class="form-control" name="businesscode" placeholder="Business Code"  />
                      </div>
                    </div>
                      <div *ngIf=" i == 'newBussiness' ">
                          <p style="margin: 5px 0 23px">
                              Please input Business Name of your business:
                          </p>
                          <div class="form-group" id="businessNameDiv" >
                              <input type="text" class="form-control"  name="businessname" placeholder="Business Name" />
                          </div>

                        </div>
                      </div>

                      <button id="bisunessSubmitBtn" routerLink="/BussinessSetup" class="blue-col" mat-raised-button>
                        Submit
                    </button>

                  </div>


              </div>
              <!-- end registration type box -->

          </div>

      </div>
      <!-- end row -->

  </form>

  <!-- <br />
  <br />
  <br />
  <br />
  <br />
  <br /> -->

</div>

