
  <mat-toolbar class="header">
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

  </button>
  <p class="header-title">EMPLOYEES</p>
  <span class="example-spacer"></span>

  <button class="btn-emp">Add
    <mat-icon>perm_identity</mat-icon>
  </button>

  <button class="btn-req">Employee Register Request</button>

</mat-toolbar>


<section id="page-title">
  <div class="row">


  </div>
</section>
<!-- end: PAGE TITLE -->

<div class="container-fluid container-fullw bg-white">

  <div class="row bottomborder">
      <div class="col-md-6" >
    employees found
      </div>
      <div class="col-md-6" style="padding-right:0">
          <div class="form-group">
              <!-- <ui-select ng-model="selectedLocation" on-select="onLocationChange($item)" class="bare-dropdown">
                  <ui-select-match placeholder="Select...">
                      <span class="ti-map-alt"></span> {{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="location in locations | filter: $select.search" null-option="anyLocation">
                      <div class="ui-select-item-primary" ng-bind-html="location.name | highlight: $select.search"></div>
                      <small class="ui-select-item-secondary">
                          <span ng-if="location.address" ng-bind-html="location.address | highlight: $select.search" />
                          <span ng-if="location.state" ng-bind-html="', ' + location.state | highlight: $select.search" /> </small>
                  </ui-select-choices>
              </ui-select> -->
          </div>
      </div>

  </div>

  <div class="row employees-searchsection bottomborder" style="border-color:#bbb; margin-left:0; margin-right:0">
      <div class="col-md-3">
          <input class="wk-input" ng-model="searchText" placeholder="Search employees" style="width:100%">
      </div>
      <div class="col-md-7">
          <div class="col-md-6">
              <div class="col-md-7">

                <label class="dropsection-link" for="search" style="color: #000;font-size: 14px;line-height: 2em;position: relative; ">Items per page:</label>

                <input class="col-md-09" type="number" min="1" max="100" class="form-control ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-max"
                style="width: 95px;float: right; margin-top: 0px; margin-left: 30px;">

              </div>



          </div>
          <div class="col-md-6">
              <a class="dropsection-link" (click)="filterData()">
                  <i class="fa fa-filter"></i> Filters</a>

              <a class="dropsection-link">
                  <i class="fa fa-list"></i> Seniority List</a>
              <a class="dropsection-link" style="margin-left: 13px;">
                  <i class="fa fa-envelope"></i>Send</a>
          </div>
      </div>
      <div class="col-md-2" style="text-align:right">

          <div class="btn-group" dropdown ng-show="thisUser.isAdmin()">
              <button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle
                  style="color:#1C2B36">
                  <span>Edit Multiple
                      <i class="ti-settings"></i>
                  </span>
                  <span class="caret"></span>
              </button>
              <!-- <ul class="dropdown-menu dropdown-align-left " ng-if="isMultipleEmployeesSelected()">
                  <li>
                      <a data-ng-click="editMultipleEmployeesLocation('add')">Add to a Location</a>
                  </li>
                  <li>
                      <a data-ng-click="editMultipleEmployeesLocation('remove')">Remove from Location</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <a data-ng-click="editMultipleEmployeesRoles()">Edit Shift Roles</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <a data-ng-click="editMultipleEmployeesGroups()">Edit Employee Groups</a>
                  </li>
                  <li class="divider"></li> -->
                  <!-- <li>
                      <a data-ng-click="enableMultipleEmployees()">Enable</a>
                  </li>
                  <li>
                      <a data-ng-click="disableMultipleEmployees()">Disable</a>
                  </li> -->
              <!-- </ul> -->
          </div>
      </div>
  </div>
  <div *ngIf="task" class="row hide" id="filterSection" style="background: #F0F3F4; margin-bottom:15px; padding: 20px 20px 30px 20px; margin-left:0; margin-right:0;">
      <div class="col-md-12">
          <h4 style="padding-bottom:3px; font-family:Raleway; font-weight: 400; color:#0280ba; font-size:16px; text-transform:uppercase">Filter Options</h4>
      </div>
      <div class="col-md-6">
          <label style="color:#000; ">Employee Groups:</label>

          <!-- <ui-select multiple on-select="onFilterGroupChange($item)" reset-search-input="true" on-remove="onFilterGroupChange($item)"
              ng-model="filterSelects.selectedFilterGroups" theme="select2" close-on-select="false" style="width:100%" ng-click="dropDownOnAnyClick($event)"
              class="filterone">
              <ui-select-match placeholder="Select group...">{{$item.groupingName}} / {{$item.groupingOptionName}}</ui-select-match>
              <ui-select-choices repeat="groupOption in optionsData | filter: $select.search">
                  <div ng-bind-html="groupOption.groupingOptionName | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select> -->

      <div class="box"> <input type="text" placeholder="Select group...">
</div>
          <div class="btn-mar">

          <a  class="btn btn-dark-azure btn-o">
              Clear
          </a> &nbsp;
          <a  class="btn btn-dark-azure">
              Save
          </a>
        </div>
      </div>
      <div class="col-md-6">
          <label style="color:#000;">Shift Roles:</label>
          <!-- <ui-select multiple on-select="onFilterGroupChange($item)" reset-search-input="true" on-remove="onFilterGroupChange($item)"
              ng-model="filterSelects.selectedFilterRoles" theme="select2" close-on-select="false" style="width:100%" ng-click="dropDownOnAnyClick($event)">
              <ui-select-match placeholder="Select role...">{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="roleOption in optionsDataRoles | filter: $select.search">
                  <div ng-bind-html="roleOption.name | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select> -->
          <input class="inp-rol" type="text" placeholder="Select role...">
      </div>
  </div>
  <div class="row" style="margin-top:15px">
      <div class="col-md-12" style="padding-left: 43px">
          <!-- <accordion close-others="true" id="employees-accordion">
              <accordion-group ng-init="accorEmployees = {isOpen: selectedEmployee.employeeID == employee.employeeID}" is-open="accorEmployees.isOpen"
                  ng-class="{'isOpen': accorEmployees.isOpen, 'disabled': !selectedLocation.locationID}" dir-paginate="employee in (filteredEmployees = (employees | filter:searchText | filter:customFilterItems | itemsPerPage: pageSize)) track by $index"
                  current-page="currentPage" is-disabled="!selectedLocation.locationID"> -->

                  <!-- <accordion-heading> -->
                      <input type="checkbox" ng-model="selectedEmployees[employee.employeeID]" ng-click="checkboxClick($event)" style="left:-25px; position:absolute"
                      />
                      <span id="" ng-click="toggleAccordion(employee)"></span>
                      <span ng-if="selectedLocation.locationID">
                          <span ng-if="employee.scheduler && !employee.isBusinessAdmin && !employee.isBusinessOwner" ng-click="toggleAccordion(employee)">|
                              <small>Scheduler</small>
                          </span>
                      </span>
                      <span ng-if="employee.isBusinessAdmin && !employee.isBusinessOwner" ng-click="toggleAccordion(employee)">|
                          <small>Admin</small>
                      </span>
                      <span ng-if="employee.isBusinessOwner" ng-click="toggleAccordion(employee)">|
                          <small>Business Owner</small>
                      </span>

                      <i class="pull-left fa" ng-click="toggleAccordion(employee)" ng-class="{'fa-chevron-down': accorEmployees.isOpen, 'fa-chevron-right': !accorEmployees.isOpen}"></i>

                  <!-- </accordion-heading> -->
                  <div class="container" style="position:relative; padding-top:10px">
                      <div class="accordion-buttons">
                          <div class="btn-group settings-menu" ng-show="thisUser.isAdmin()">
                              <button id="settings-menu-btn" class="btn btn-default dropdown-toggle" type="button" dropdown-toggle>
                                  <span>
                                      <i class="ti-settings"></i>
                                  </span>
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-align-left">
                                  <li>
                                      <a data-ng-click="emailEmployee()" ng-hide="thisUser.employeeID === employee.employeeID">Message</a>
                                  </li>
                                  <li>
                                      <a data-ng-click="editProfile()" ng-show="thisUser.employeeID === employee.employeeID">Edit Profile</a>
                                  </li>
                                  <li class="divider"></li>
                                  <li>
                                      <a data-ng-click="editAccess()" ng-hide="employee.isBusinessAdmin">Edit Permissions</a>
                                  </li>
                                  <li>
                                      <a data-ng-click="editRoles()">Edit Shift Roles</a>
                                  </li>
                                  <li>
                                      <a data-ng-click="editGroups()">Edit Groups</a>
                                  </li>
                                  <li>
                                      <a data-ng-click="editLocations()">Edit Locations</a>
                                  </li>
                                  <li class="divider"></li>
                                  <!-- <li>
                                      <a data-ng-click="enable()">Enable</a>
                                  </li> -->
                                  <li>
                                      <a data-ng-click="disable()">Delete</a>
                                  </li>
                              </ul>

                          </div>
                      </div>





      </div>
  </div>
  <div class="text-center">
      <!-- <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls> -->
  </div>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <!-- <mat-expansion-panel-header> -->
        <!-- <mat-panel-title>
          This is the expansion title
        </mat-panel-title> -->
        <!-- <mat-panel-description>
          This is a summary of the content
        </mat-panel-description> -->
      <!-- </mat-expansion-panel-header> -->
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <div class="row" style="border-bottom:1px solid #f0f0f0; margin-bottom:10px">
            <div class="col-sm-2">
                <!-- <div class="initial-box">{{ selectedEmployee.firstName.charAt(0) }}{{ selectedEmployee.lastName.charAt(0) }}</div> -->
            </div>
            <div class="col-sm-4" id="wk-modal" style="vertical-align: bottom; margin-top: 0px; padding-left: 35px;">
                <div ng-show="selectedEmployee.userID != null">
                    <div ng-show="user.isAdmin()" class="employee-section-title">Business Admin</div>
                    <div class="btn-group" ng-show="user.isAdmin()">
                        <label ng-disabled="selectedEmployee.isBusinessOwner || thisUser.employeeID === selectedEmployee.employeeID" class="btn btn-primary"
                            ng-change="updateEmployeeAccess()" ng-model="selectedEmployee.isBusinessAdmin" btn-radio="false">No</label>
                        <label class="btn btn-primary" ng-change="updateEmployeeAccess()" ng-model="selectedEmployee.isBusinessAdmin" btn-radio="true">Yes</label>
                    </div>
                </div>
                <br />
                <br />
                <div ng-if="selectedEmployee.disabled" style="color:red">DISABLED</div>
            </div>
            <div class="col-sm-6">
                <span class="employee-section-title">Email</span>
                <!-- <span class="pull-right" style="cursor: pointer; text-transform: uppercase;" data-ng-click="editDateOfHire()" ng-show="thisUser.isAdmin()">Edit
                    <i class="fa fa-pencil"></i>
                </span> -->
                <br />
                <span class="employee-section-title">Phone</span>
                <!-- <span class="pull-right" style="cursor: pointer; text-transform: uppercase;" data-ng-click="editDateOfHire()" ng-show="thisUser.isAdmin()">Edit
                    <i class="fa fa-pencil"></i>
                </span> -->
                <span ng-if="selectedEmployee.phone"></span>
                <span ng-if="!selectedEmployee.phone">None given</span>
                <br />
                <span class="employee-section-title">Date Of Hire</span>
                <span ng-if="selectedEmployee.hireDate"></span>
                <span ng-if="!selectedEmployee.hireDate">None given</span>
                <span class="pull-right" style="cursor: pointer; text-transform: uppercase;" data-ng-click="editDateOfHire()" ng-show="thisUser.isAdmin()">Edit
                    <i class="fa fa-pencil"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

                    <div class="employee-section-title">
                        Shift Roles
                        <span class="pull-right" style="cursor: pointer;" data-ng-click="editRoles()" ng-show="thisUser.isAdmin()">Edit
                            <i class="fa fa-pencil"></i>
                        </span>
                    </div>
                    <div>
                        <span ng-bind-html="displayRoles(selectedEmployee)"></span>
                    </div>


                <p>
                    <div class="employee-section-title" style="border-top:1px solid #f7f7f7;padding-top:15px;">
                        Locations assigned to
                        <span class="pull-right" style="cursor: pointer;" data-ng-click="editLocations()" ng-show="thisUser.isAdmin()">Edit
                            <i class="fa fa-pencil"></i>
                        </span>
                    </div>
                    <div>
                        <span class="location" ng-repeat="location in selectedEmployee.locations">

                        </span>
                    </div>



                    <div class="employee-section-title" style="border-top:1px solid #f7f7f7;padding-top:15px; margin-bottom: 8px;">
                        Groups assigned to
                        <span class="pull-right" style="cursor: pointer;" data-ng-click="editGroups()" ng-show="thisUser.isAdmin()">Edit
                            <i class="fa fa-pencil"></i>
                        </span>
                    </div>

                    <div>
                        <div ng-if="selectedEmployeeLocationObj[selectedLocation.locationID.toString()].groupingOptions.length === 0">
                            Not assigned to any employee groups.
                        </div>
                        <ul class="itemslist" style="margin-bottom:0;" ng-if="selectedEmployeeLocationObj[selectedLocation.locationID.toString()].groupingOptions.length > 0">
                            <li ng-repeat="locationGroup in selectedEmployeeLocationGroups[selectedLocation.locationID.toString()]">
                                <div class="row" style="padding-bottom:0">
                                    <div class="col-md-5">
                                        <!-- {{ locationGroup.groupingName }}: -->
                                    </div>
                                    <div class="col-md-7">
                                        <div ng-repeat="employeeGroupOpt in thisGroupingOptions = (selectedEmployeeLocationObj[selectedLocation.locationID.toString()].groupingOptions | filter: {groupingID: locationGroup.groupingID})">
                                            <!-- {{employeeGroupOpt.groupingOptionName}} -->
                                        </div>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                <!-- </p> -->

                <p>
                    <div ng-if="selectedEmployee.scheduler ">
                        <div class="employee-section-title" style="border-top:1px solid #f7f7f7;padding-top:15px; margin-bottom: 8px;">
                            Scheduler Restricted to the following Employee Groups
                            <span class="pull-right" style="text-transform: capitalize; font-size:11px; cursor: pointer;" data-ng-click="editAccess()"
                                ng-show="thisUser.isAdmin()">Edit
                                <i class="fa fa-pencil"></i>
                            </span>
                        </div>
                        <div>
                            <div ng-if="selectedEmployeeLocationObj[selectedLocation.locationID.toString()].schedulerFocus.length == 0">
                                No scheduler restrictions.
                            </div>

                            <ul class="itemslist" style="margin-bottom:0;" ng-if="selectedEmployeeLocationObj[selectedLocation.locationID.toString()].schedulerFocus.length > 0">

                                <li ng-repeat="locationGroup in selectedEmployeeLocationGroups[selectedLocation.locationID.toString()]">
                                    <div class="row" style="padding-bottom:0">
                                        <div class="col-md-5">
                                            <!-- {{ locationGroup.groupingName }}: -->
                                        </div>
                                        <div class="col-md-7">
                                            <div ng-repeat="employeeGroupOpt in thisSchedFocusOptions = (selectedEmployeeLocationObj[selectedLocation.locationID.toString()].schedulerFocus | filter: {groupingName: locationGroup.groupingName})">
                                                <!-- {{employeeGroupOpt.groupingOptionName}} -->
                                            </div>
                                            <div ng-show="thisSchedFocusOptions.length == 0 || !thisSchedFocusOptions" style="color:gray">
                                                None set
                                            </div>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                <!-- </p> -->

            </div>
            <div class="col-sm-6">
                <p>
                    <div class="employee-section-title">
                        Schedule Preferences
                    </div>
                    <!-- <p>Displaying schedule preferences for location: {{ prefLocationName }}</p> -->
                    <div>
                        <!-- <div ng-controller="SelectEmployeePreferencesCtrl" ng-init="selectedEmployees[employee.employeeID]" ng-if="selectedEmployee.employeeID == employee.employeeID" ng-include="'employee/templates/preferenceSettings.tpl.html'" /> -->
                        <div class="container preferences" style="border:1px solid #ccc; border-radius:4px">
                            <div class="row" ng-repeat="thisDay in daysOfWeek track by $index">
                                <!-- <div class="col-xs-2 col-md-2">{{thisDay}}</div> -->
                                <div class="col-xs-10 col-md-10">
                                    <span ng-repeat="pref in selectedEmployeePreferences | filter: {day:($index===6?0:$index + 1)}" ng-class="{'unavailable-shift': pref.type == 15}">
                                        <i class="fa fa-thumbs-up" style="color:#0280ba" ng-if="pref.type == 1"></i>
                                        <i class="fa fa-thumbs-down" style="color:#000" ng-if="pref.type == 2"></i>
                                        <i class="fa fa-user-times" style="color:gray" ng-if="pref.type == 3"></i>

                                        <span ng-if="isAllDay(pref)" style="color:#333;">All Day</span>
                                        <!-- <span ng-if="!isAllDay(pref)" style="color:#333;">{{formatTime(pref.startTime)}} - {{formatTime(pref.endTime)}}</span> -->
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </p> -->
            </div>
        </div>
        <!-- end employee item -->

<!-- </accordion-group>
</accordion> -->

<div><p>I'm visible because I am open</p></div>
    </mat-expansion-panel>
  </mat-accordion>
