<div id="container" class="wrap-content container fade-in-up">

  <div class="logo-title text-center">
    <img src="../assets/images/weekcheck-logo-full_small.png" style="max-width: 320px;text-align: center;" />
  </div>

  <div class="row">
    <div class="main-login" style="width:100%; max-width: 450px; margin-left:auto;margin-right:auto">

      <!-- start: LOGIN BOX -->
      <div style="text-align:center; margin-top:20px">
        Please wait, logging you in...
      </div>
      <div class="box-login login-box">
        <form name="Form" id="form1" class="form-login">
          <fieldset style="background:transparent; border: 0; padding:0;">
            <h4>
              Sign in to your account
            </h4>
            <p>
              Please enter your email and password to log in.
            </p>
            <!--<div class="form-group" ng-class="{ 'has-error' : Form.email.$invalid && !Form.email.$pristine }">
                            <span class="input-icon">
							<input type="email" class="form-control" name="email" placeholder="Email" ng-model="model.email" required ng-readonly="emailLocked"/>
							<i class="fa fa-user"></i> </span>
                            <span class="error text-small block" ng-if="formUtils.isFieldInError(Form.email)">Email is required.</span>
                            <span class="error text-small block" ng-if="formUtils.isInvalidEmail(Form.email)">Please, enter a valid email address.</span>
                            <span class="success text-small" ng-if="formUtils.isFieldValid(Form.email)">It's a valid e-mail!</span>
                        </div>-->
            <div class="form-group">
              <span class="input-icon">
                <input type="email" name="email" placeholder="Email" class="form-control" required>
                <i class="fa fa-user"></i> </span>
              <!--<p ng-show="Form.email.$invalid && !Form.email.$pristine" class="help-block">Enter a valid email.</p>-->
            </div>
            <!--<div class="form-group form-actions" ng-class="{ 'has-error' : Form.password.$invalid && !Form.password.$pristine }">
                            <span class="input-icon">
							<input type="password" class="form-control password" name="password" placeholder="Password" ng-model="model.password" required />
							<i class="fa fa-lock"></i>
							<a class="forgot" ui-sref="login.forgot">
                                I forgot my password
                            </a> </span>

                            <span class="error text-small block" ng-if="formUtils.isFieldInError(Form.password)">Password is required.</span>
                            <span class="success text-small block" ng-if="formUtils.isFieldValid(Form.password)">Ok!</span>
                        </div>-->
            <div class="form-group">
              <span class="input-icon"></span>
              <input type="password" name="password" class="form-control" placeholder="Password" required>
              <i class="fa fa-lock"></i>
              <!-- <p ng-show="Form.username.$error.minlength" class="help-block">Username is too short.</p>
                            <p ng-show="Form.username.$error.maxlength" class="help-block">Username is too long.</p> -->
            </div>

            <div class="form-actions">
              <button type="submit"  class="btn btn-dark-azure pull-right">
                Login <i class="fa fa-arrow-circle-right" style="width:auto;height:auto"></i>
              </button>
            </div>
          </fieldset>
        </form>
        <!-- start: COPYRIGHT -->
        <div class="copyright"> &copy;
          <!-- {{app.year}} &copy; {{ app.name }} by {{ app.author }}. -->
        </div>
        <!-- end: COPYRIGHT -->
      </div>
      <!-- end: LOGIN BOX -->
    </div>
  </div>
</div>
<!-- end: LOGIN -->
