.header-title
{
  font-size:35px;
  font-style: normal;
  font-family: Helvetica,Arial,sans-serif;
  font-weight:100;
  margin-bottom: 35px;
}


.header{
  height: 140px;
  background-color: rgb(241, 238, 238);

}


.col-md-3{
  margin-top: 15px;
  padding-left: 55px;
}
.vcenter div{
  position: relative;
}





mat-form-field + .mat-form-field {
  margin-left: 8px;
}


.modal-title{
  margin-top: 20px;
  display: flex;
  font-size:x-large;

}
.dropsection-link{
  display: flex;
  font-size: large;
}
.header-1{
  height: 71px;

}
.card-header{
  height: 71px;
}
.side-header
{
  display:flex;
  float: right;
  width: fit-content;

}
.maticon
{
  width: 200px;
  display: flex;
  text-align: center;

}
#fa-fa{
  width: 200px;
  display: flex;
  text-align: center;
  margin-top: 5px;
}

// .col-md-12{
//   margin-top: -57px;
// }
.inp-page{
  float:right;

}

.btn btn-light-wk{
  width:30px
}
.add-location{
  text-align: right;
}
// .inp-page
// {
//   text-align: center;
// }

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 650px !important;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-header{
  border-bottom: none !important;


}


.modal-footer
{
  border-top: none !important;
}
.grid1{
   display:flex
}

.col-1{
width:50px
}

.formcontrol-1{
  width:80%;
  height:35px;
  border-radius:4px
}
.formcontrol{
  height:34px;
  border-radius:4px
}