<!-- start: PAGE TITLE -->
<div class="main-container app">


  <div class="content" [ngClass]="true ? 'offset-2p5':'offset-0p5'">
    <div class="dynamic-page-area">
      <section id="page-title">
        <div class="row">
          <div class="col-sm-8 d-flex">
            <h1 class="mainTitle" translate="sidebar.nav.business.page.info.HEADER">{{ currTitle }}</h1>
          </div>
          <div ncy-breadcrumb></div>
          <div class="col-md-12 d-flex" style="margin-top: 13px;">
            <div class="col-md-3" style="margin-top:5px;">
              <span style="font-family: Raleway;color: #777;"><i class="fa fa-building-o"></i>&nbsp; BUSINESS
                CODE:</span>
              <span style="color: #333;font-family: Raleway;">{{businessCode}}</span>
            </div>
            <div class="col-md-4 d-flex">
              <label class="dropsection-link" for="search"
                style="font-size: 14px;position: relative;line-height: 2em;margin-left:20px;">Items per
                page:</label>
              <input type="number" min="1" max="100"
                class="form-control ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-max" ng-model="pageSize"
                style="max-width:100%;width: 95px;float: right;margin-right: 5px;margin-top: 0px;" />
            </div>
          </div>
        </div>
      </section>

      <!-- end: PAGE TITLE -->
      <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-6 vcenter d-flex">
          <div>{{locations.length}} location<span *ngIf="locations.length > 1"></span></div>
        </div>
        <div class="col-md-6 text-right">
          <button class="btn btn-primary" (click)="addLocation()"><span>Add  </span>
            <i class='fas fa fa-map-marker' style='color: white; font-weight: bolder;'></i>
            <i class='fa plus'>+</i></button>
        </div>
      </div><br><br><br><br>

      

        <div class="row">
          <div class="col-md-12">
            <accordion close-others="true" id="locations-accordion">
              <accordion-group ng-init="accorLocations = {isOpen: selectedLocation.locationID == location.locationID}"
                is-open="accorLocations.isOpen" [ngClass]="{isOpen: accorLocations.isOpen}"
                dir-paginate="location in locations | itemsPerPage: pageSize" current-page="currentPage">
                <div accordion-heading> <span id="{{location.locationID}}"
                    (click)="toggleAccordion(location)">{{location.name}}</span> <i class="pull-left fa"
                    (click)="toggleAccordion(location)"
                    [ngClass]="{'fa-chevron-down': accorLocations.isOpen, 'fa-chevron-right': !accorLocations.isOpen}"></i>
                </div>
                <div class="container" style="position:relative">
                  <div class="accordion-buttons">

                    <div class="btn-group location-group settings-menu" dropdown on-toggle="toggled(open)">
                      <button id="settings-menu-btn" class="btn btn-default dropdown-toggle" type="button"
                        dropdown-toggle>
                        <span><i class="fa fa-settings"></i></span>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-align-left">
                        <li><a (click)="editLocation()">Edit Details</a></li>
                        <li class="divider"></li>
                        <li><a (click)="setSearchLocation()">Edit Employees</a></li>
                        <li><a (click)="editEmployeeGroups()">Edit Employee Groups</a></li>
                        <li class="divider"></li>
                        <li><a (click)="editShiftGroups()">Edit Shift Groups</a></li>
                        <li><a (click)="editShiftRoles()">Edit Shift Roles</a></li>
                        <li class="divider"></li>
                        <li><a (click)="editAdmin()">Edit Administrators</a></li>
                        <li><a (click)="editSchedulers()">Edit Schedulers</a></li>
                        <li><a (click)="editSchedulerGroups()">Edit Scheduler Groups</a></li>
                        <li class="divider"></li>
                        <li><a (click)="deleteLocation()">Delete</a></li>
                      </ul>

                    </div>



                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div style="padding:15px; background:#F0F3F4; margin-bottom:10px;">
                        <div class="pull-left" style="color:#333; font-weight: 300;">LOCATION DETAILS</div>
                        <div class="pull-right"
                          style="text-align: right; text-transform: capitalize; font-size:11px; cursor: pointer; margin-bottom: 5px; color:#333"
                          (click)="editLocation()">Edit <i class="fa fa-pencil"></i></div>
                        <div style="clear:both"></div>
                        <br />
                        <div class="row">
                          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                            <div class="subheading-blue"><i class="fa fa-building-o"></i> Address</div>
                            <div class="info-details" style="word-break: break-all;">
                              {{location.address}} <br /> {{location.city}}, {{location.state}}
                              {{location.zip}} </div>
                            <br />
                          </div>
                          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                            <div class="subheading-blue"><i class="fa fa-calendar-o"></i> Week Start
                            </div>
                            <div class="info-details"> {{weekdays[location.firstDayOfWeek]}} </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                            <div class="subheading-blue"><i class="fa fa-user"></i> Employees</div>
                            <div class="info-details"><a (click)="setSearchLocation()"
                                style="color:#333; border-bottom:1px dotted;">{{location.totalEmployees}}
                                total</a></div>
                          </div>
                          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                            <div class="subheading-blue"><i class="fa fa-lock"></i> Business Code</div>
                            <div class="info-details">{{businessCode}}</div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <ngx-tabset class="tabbable tab-col-right">
                        <ngx-tab heading="Employee Groups">
                          <div>
                            <div
                              style="text-align: right; text-transform: capitalize; font-size:11px; cursor: pointer; margin-bottom: 5px; color:#333"
                              (click)="editEmployeeGroups()">Edit <i class="fa fa-pencil"></i>
                            </div>
                            <div ng-show="!locationGroupsFiltered || locationGroupsFiltered.length === 0"
                              style="color:gray; margin-top:7px">
                              No employee groups have been set up for this location.
                            </div>
                            <ul class="itemslist">
                              <li *ngFor="employeeGroup of locationGroupsFiltered " [ngClass]="even?'odd':'even'">
                                <span class="group-label">{{employeeGroup.groupingName}}</span>
                                {{ getGroupingOptionNames(employeeGroup) }}
                              </li>
                            </ul>
                          </div>
                        </ngx-tab>
                        <ngx-tab heading="Shift Settings">
                          <div class="row">
                            <div class="col-md-6">
                              <span class="subheading">Shift Groups</span>
                              <span class="pull-right"
                                style="text-align: right; text-transform: capitalize; font-size:11px; cursor: pointer; margin-bottom: 5px; color:#333"
                                (click)="editShiftGroups()">Edit <i class="fa fa-pencil"></i></span>
                              <div style="clear:both; height:5px;"></div>
                              <div>
                                <div ng-show="!shiftGroupsFiltered || shiftGroupsFiltered.length === 0"
                                  style="color:gray; margin-top:7px">
                                  No shift groups have been set up for this location.
                                </div>
                                <ul class="itemslist">
                                  <li *ngFor="shiftGroup of shiftGroupsFiltered" [ngClass]="even?'odd':'even'">
                                    <span class="group-label">{{shiftGroup.groupingName}}</span>
                                    {{ getGroupingOptionNames(shiftGroup) }}
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <span class="subheading">Shift Roles</span>
                              <span class="pull-right"
                                style="text-align: right; text-transform: capitalize; font-size:11px; cursor: pointer; margin-bottom: 5px; color:#333"
                                (click)="editShiftRoles()">Edit <i class="fa fa-pencil"></i></span>
                              <div style="clear:both; height:5px;"></div>
                              <div>
                                <div ng-show="locationRoles.length === 0" style="color:gray; margin-top:7px">
                                  No shift roles have been set up for this location.
                                </div>
                                <ul class="itemslist">
                                  <li *ngFor="shiftRole of locationRoles" [ngClass]="even?'odd':'even'">
                                    {{shiftRole.name}}
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </ngx-tab>
                        <ngx-tab heading="Special Access">
                          <div class="row">
                            <div class="col-md-12">
                              <span class="subheading">Administrators</span>
                              <span class="pull-right"
                                style="text-align: right; text-transform: capitalize; font-size:11px; cursor: pointer; margin-bottom: 5px; color:#333"
                                (click)="editAdmin()">Edit <i class="fa fa-pencil"></i></span>
                              <div style="clear:both; height:5px;"></div>
                              <ul class="itemslist">
                                <li *ngFor="admin of locationEmployees" [ngClass]="even?'odd':'even'"> <i
                                    class="fa fa-user"></i>
                                  {{admin.firstName}} <span *ngIf="admin.middleInitial">{{admin.middleInitial}}</span>
                                  {{admin.lastName}} </li>
                              </ul>
                            </div>
                            <div class="col-md-12">
                              <br />
                              <span class="subheading">Schedulers</span>
                              <span class="pull-right"
                                style="text-align: right; text-transform: capitalize; font-size:11px; cursor: pointer; margin-bottom: 5px; color:#333"
                                (click)="editSchedulers()">Edit <i class="fa fa-pencil"></i></span>
                              <div style="clear:both; height:5px;"></div>
                              <div>Schedulers may be restricted to employee groups, and will be
                                restricted to managing scheduling activity for only the employee
                                groups listed under their name below. If no groups are listed that
                                scheduler
                                has access to schedule all employees.</div>
                              <br>
                              <ul class="itemslist">
                                <li *ngFor="scheduler of locationEmployees " style="border-bottom:1px dotted #ddd"> <i
                                    class="fa fa-user"></i>
                                  {{scheduler.firstName}}
                                  <span *ngIf="scheduler.middleInitial">{{scheduler.middleInitial}}</span>
                                  {{scheduler.lastName}}

                                  <span class="pull-right"
                                    style="text-align: right; text-transform: capitalize; font-size:11px; cursor: pointer; margin-bottom: 5px; color:#333; margin-top: 20px; margin-right:-10px;"
                                    (click)="editSchedulerGroups()">Edit
                                    <i class="fa fa-pencil"></i></span>
                                  <div ng-show="locationGroups.length === 0"
                                    style="color:gray; margin-top:7px; width: calc(100% - 30px)">
                                    No groups exist to assign schedulers to.
                                  </div>
                                  <ul ng-show="scheduler.schedulerFocus && scheduler.schedulerFocus.length > 0"
                                    class="itemslist"
                                    style="margin-bottom:0; margin-top:10px; width: calc(100% - 20px); padding-right: 20px;">
                                    <li *ngFor="locationGroup of locationGroups" [ngClass]="even?'odd':'even'">
                                      <div class="row" style="padding-bottom:0">
                                        <div class="col-md-5" style="color:gray;">
                                          <span class="group-label"
                                            style="width:100%">{{ locationGroup.groupingName }}</span>
                                        </div>
                                        <div class="col-md-7">
                                          <div *ngFor="employeeGroupOpt of schedulerFocusGroups ">
                                            {{employeeGroupOpt.groupingOptionName}}
                                          </div>
                                          <span *ngIf="schedulerFocusGroups.length === 0" style="color:gray">no option
                                            set</span>

                                        </div>
                                      </div>

                                    </li>
                                  </ul>

                                  <div ng-show="!scheduler.schedulerFocus || scheduler.schedulerFocus.length === 0"
                                    style="color:gray">
                                    No scheduler restrictions
                                  </div>
                                </li>

                              </ul>
                            </div>
                          </div>
                        </ngx-tab>
                      </ngx-tabset>
                    </div>
                  </div>
                </div>
                <!-- end location item -->

              </accordion-group>
            </accordion>
          </div>
        </div>
      </div>
      <div class="text-center">
        <pagination-controls boundary-links="true" on-page-change="pageChangeHandler()">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
