<legend>
  Location Info
</legend>
<ng-container input="name" label="Name" error="Name is required" success="">
  <input name="name" class="form-control" type="text" ng-model="model.name" required />
</ng-container>
<ng-container  input="address" label="Address" error="Address is required" success="">
  <input name="address" class="form-control" type="text" ng-model="model.address" required />
</ng-container >
<ng-container  input="state" label="State" error="State is required" success="">
  <!-- <ui-select name="state" ng-model="model.state" on-select="onStateChange($item)" required>
      <ui-select-match placeholder="Select...">
          {{$select.selected.abbreviation}}
      </ui-select-match>
      <ui-select-choices repeat="state in states | filter: $select.search">
          <div class="ui-select-item-primary" ng-bind-html="state.abbreviation | highlight: $select.search"></div>
          <small>
              <span class="ui-select-item-secondary" ng-bind-html="state.name | highlight: $select.search" />
          </small>
      </ui-select-choices>
  </ui-select> -->
</ng-container >
<ng-container input="city" label="City" error="City is required" success="">
  <!--ui-select name="city" ng-model="model.city" required>
      <ui-select-match placeholder="Select...">
          {{$select.selected.name}}
      </ui-select-match>
      <ui-select-choices repeat="city in cities | filter: $select.search">
          <div class="ui-select-item-primary" ng-bind-html="city.name | highlight: $select.search"></div>
          <small>
              <span class="ui-select-item-secondary" ng-bind-html="city.full_county_name | highlight: $select.search" />
          </small>
      </ui-select-choices>
  </ui-select-->
  <input name="city" class="form-control" type="text" ng-model="model.city" required ng-hide="cities.length > 0" />
</ng-container>
<ng-container input="zip" label="Zip Code" error="Zip code is required" success="">
  <input name="zip" class="form-control" ui-mask="99999" type="text" ng-model="model.zip" required />
</ng-container>
<ng-container input="weekday" label="Week Start" error="Week Start is required" success="">
  <!-- <ui-select name="weekday" ng-model="model.weekday" required>
      <ui-select-match placeholder="Select...">
          {{$select.selected.day}}
      </ui-select-match>
      <ui-select-choices repeat="day in weekdays | filter: $select.search">
          <div ng-bind-html="day.day | highlight: $select.search"></div>
      </ui-select-choices>
  </ui-select> -->
</ng-container>