<!-- start: PAGE TITLE -->

<section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle" translate="sidebar.nav.business.page.info.HEADER"></h1>
      </div>
      <div ncy-breadcrumb></div>
    </div>
  </section>
  <!-- end: PAGE TITLE -->
  
  <div class="container-fluid container-fullw bg-white">
  
  <p>Create and manage shift roles for your business. To add or remove roles from your business locations, please visit the <a ui-sref="app.settings.locations" style="text-decoration:underline ; color:#333">Locations</a> section.</p><br>
    
    <!-- tabs -->
    <div class="row">
      <div class="col-md-12">
        
          <div>
            <div class="row">
              <div class="col-md-3 vcenter">
                <div ng-if="!businessRoles || businessRoles.length == 0">No shift roles have been created for this business.<span ng-if="businessRoles.length > 1">s</span></div>
                <div ng-if="businessRoles.length > 0">shift role<span ng-if="businessRoles.length > 1">s</span></div>
              </div>
               <div class="col-md-4">
               <label class="dropsection-link" for="search" style="font-size: 14px;position: relative;line-height: 2em;margin-left:20px;">Items per page:</label>
              <input type="number" min="1" max="100" class="form-control ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-max" ng-model="pageSize" style="max-width:100%;width: 95px;margin-right: 5px;margin-top: 0px;">     
              </div>
              <div class="col-md-5 text-right">
                <button class="btn btn-light-wk" ng-click="addRole()"><span>Add Shift Role</span> <i class="ti-add">+</i></button>
              </div>
            </div>
            <ul class="itemslist">
              <li dir-paginate="shiftRole in businessRoles | itemsPerPage: pageSize" current-page="currentPage" ng-class="$even?'odd':'even'"> 
                  <div class="row" style="padding-bottom: 0;">
                      <div class="col-md-9" >    
                          <span editable-text="shiftRole.name" e-form="rowform" e-name="name" onbeforesave="validateName($data)" e-placeholder="Enter shift role name" style="line-height:33px"></span> 
                      </div>
                      <div class="col-md-3 text-right">
                      
                          <form editable-form name="rowform" onbeforesave="saveShiftRole($data, shiftRole)" ng-show="rowform.$visible" class="form-buttons form-inline" style="margin:0px">
                           
                              <span class="ti-save" title="Save" ng-disabled="rowform.$waiting" ng-click="rowform.$submit()"></span>
                              <span class="ti-na" title="Cancel" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"></span>
                              
                          </form>
                          <div class="buttons form-buttons" ng-show="!rowform.$visible">
                              <button class="btn btn-default" title="Edit" ng-click="rowform.$show()">
                              <span class="ti-pencil-alt"></span>
                              </button>
                              
                              <button class="btn btn-default" ng-click="deleteBusinessRole(shiftRole)">
                              <span class="ti-trash"></span>
                              </button>
                          </div>
                              
                          
                      </div>
                      
                      
                  </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
   <div class="text-center">
            <!-- <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls> -->
   </div>
