<div class="main-container app">


  <div class="content" [ngClass]="true ? 'offset-2p5':'offset-0p5'">
    <div class="dynamic-page-area">
      <!-- start: PAGE TITLE -->

      <section id="page-title">
        <div class="row">
          <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.business.page.info.HEADER"></h1>
          </div>
          <div ncy-breadcrumb></div>
        </div>
      </section>
      <!-- end: PAGE TITLE -->

      <div class="container-fluid container-fullw bg-white">

        <p>Create and manage shift groups for your business. To add or remove groups from your business locations,
          please visit the <a ui-sref="app.settings.locations"
            style="text-decoration:underline ; color:#333">Locations</a> section.</p><br>

        <!-- tabs -->
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 vcenter">
                <div ng-if="shiftGroups.length > 0"> <span ng-if="shiftGroups.length > 1">s</span></div>
              </div>
              <div class="col-md-4">
                <label class="dropsection-link" for="search"
                  style="font-size: 14px;position: relative;line-height: 2em;margin-left:20px;">Items per page:</label>
                <input type="number" min="1" max="100"
                  class="form-control ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-max" ng-model="pageSize"
                  style="max-width:100%;width: 95px;margin-right: 20px;margin-top: 0px;">
              </div>
              <div class="col-md-5 text-right">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  data-bs-whatever="@mdo"><span>Add Group Type</span> <i class="ti-add">+</i></button>
              </div>
            </div>
            <!-- <accordion close-others="true" id="groups-accordion">
            <accordion-group ng-init="accorGroups = {isOpen: $index < 1}" is-open="accorGroups.isOpen" ng-class="{isOpen: accorGroups.isOpen}" dir-paginate="shiftGroup in shiftGroups | itemsPerPage: pageSize" current-page="currentPage" >
              <accordion-heading> <span>{{shiftGroup.groupingName}}</span> <i class="pull-left fa" ng-class="{'fa-chevron-down': accorGroups.isOpen, 'fa-chevron-right': !accorGroups.isOpen}"></i> </accordion-heading> -->
            <div class="container" style="position:relative">
              <div class="accordion-buttons">
                <button class="btn btn-default" ng-click="editGrouping(shiftGroup)"><span
                    class="ti-pencil-alt"></span></button>
                <button class="btn btn-default" ng-click="deleteBusinessGrouping(shiftGroup)"><span
                    class="ti-trash"></span></button>
              </div>
              <div class="row">
                <div class="col-md-2" style="text-align:center"> <i class="fa fa-group"
                    style="color: #0280ba; font-size:20px; margin-bottom:12px; margin-top:6px;"></i> <br />
                  <div> total <br />
                    group options:</div>
                </div>
                <div class="col-md-6" style="border-right: 1px solid #eee">
                  <div>
                    <ul class="itemslist">
                      <li ng-repeat="groupOption in shiftGroup.groupingOptions" ng-class="$even?'odd':'even'"
                        style="color:#1c2b36;"> </li>
                    </ul>
                  </div>
                </div>
                <!--<div class="col-md-4"> Require employees to be designated to a group:-->
                <div class="col-md-4"> Require shifts being created to select an option for this shift group:
                  <div style="margin-top:10px"> <span ng-if="shiftGroup.required" style="color:#1c2b36">Yes</span> <span
                      ng-if="!shiftGroup.required" style="color:#1c2b36">No</span> </div>
                </div>
              </div>
            </div>

            <!-- end group item -->

            <!-- </accordion-group> -->
            <!-- </accordion> -->
          </div>
        </div>
      </div>
      <div class="text-center">
        <!-- <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls> -->
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="width: 125%;
      height: 520px;">
            <div class="modal-header">
              <h1 class="modal-title" id="exampleModalLabel">Edit Shift Group Type</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <p>Details</p>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Group Name</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-check">
                  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"
                    aria-label="...">Require shift being created to select an optin for this shift group ?
                </div>
                <br><br>
                <p>Groups---</p>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Add Group Option</label>
                  <!-- <label for="recipient-name" class="col-form-label">Current Option</label>
              <label for="recipient-name" class="col-form-label">Action</label> -->
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <button class="btn" style="border:1px solid #0280ba; color:#0280ba">Add Option</button>
              </form>
            </div>
            <div>
              <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->

            </div>
            <div><button type="button" class="btn btn-primary"
                style=" margin-left: 4%; margin-bottom: 4%; ">Submit</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
