<div class="main-container app">


  <div class="content" [ngClass]="logo ? 'offset-2p5':'offset-0p5'">
    <div class="dynamic-page-area">
      <!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.account.VIEW">{{ currTitle }}</h1>
        </div>
        <div ncy-breadcrumb></div>
    </div>

</section>
<section>
    <div class="container-fluid container-fullw  bg-white">
        <div class="rows">
            <div class="col-md-3">
                <div class="form-group">
                    <strong>Please, choose the plan that works for you.</strong>
                </div>
                <div class="form-group">

                    <p-dropdown [options] = "selected " (ngModel)="selectedPlan" placeholder="Select Plan..." optionLabel="name" [showClear]="true"></p-dropdown>

                    <!-- <ui-select ng-model="selectedPlan" on-select="onPlanChange($item)">
                        <ui-select-match placeholder="Select Plan..."></ui-select-match>
                        <ui-select-choices repeat="plan in subscriptionPlans | filter: $select.search">
                            <span class="ui-select-item-primary" ng-bind-html="plan.description | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select> -->
                </div>
                <div class="form-group" ng-show="selectedPlan">
                    <h4>Selected subscription plan</h4>
                    <div class="form-group row no-padding">
                        <label class="col-sm-6">Selected Plan Name: </label> <strong>{{selectedPlan.maxEmployees
                            }}</strong>
                    </div>
                    <div class="form-group row no-padding">
                        <label class="col-sm-6">Max Number of Employees: </label>
                        <strong>{{selectedPlan.maxEmployees}}</strong>
                    </div>
                    <div class="form-group row no-padding">
                        <label class="col-sm-6">Price: </label>{{selectedPlan.price/100 }}
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row no-padding">
                            <label class="col-sm-6">Current Plan Name: </label>
                            <strong>{{currentSubscriptionPlan.maxEmployees }} <span
                                    ng-if="currentSubscriptionPlan.isTrial">(Trial)</span></strong>
                        </div>
                        <div class="form-group row no-padding">
                            <label class="col-sm-6">Max Number of Employees: </label>
                            <strong>{{currentSubscriptionPlan.maxEmployees}}</strong>
                        </div>
                        <div class="form-group row no-padding">
                            <label class="col-sm-6">Current Number of Employees: </label>
                            <strong>{{currentNumberEmployees}}</strong>
                        </div>
                        <div class="form-group row no-padding">
                            <label class="col-sm-6">Next Payment Amount: </label> <strong
                                ng-if="!currentSubscriptionPlan.isTrial">{{currentSubscriptionPlan.price/100}}</strong><strong
                                ng-if="currentSubscriptionPlan.isTrial">USD$ 0</strong>
                        </div>
                        <div class="form-group row no-padding">
                            <label class="col-sm-6">Next Payment On: </label>{{subscriptionFinished}}
                        </div>
                        <div class="form-group row no-padding">
                            <div class="col-md-12" ng-if="currentSubscriptionPlan.isTrial">
                                You have up to 9 employees trial for 30 days. After that time you have to make payment
                                for the needed subscription plan
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8"></div>
                </div>
                <div class="row" ng-show="selectedPlan != null">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" id="myCheckbox" ng-model="model.isHaveCupon"> I have a coupon
                            </label>
                        </div>
                        <div class="form-group" ng-show="model.isHaveCupon">
                            <form name="myform">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-scissors"
                                                    aria-hidden="true"></i></span>
                                            <input type="text" ng-required="true" class="form-control"
                                                ng-model="couponcode" ng-readonly="isCheckCouponcode">
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-show="dis">
                                        <button class="btn btn-dark-azure"
                                            ng-click="myform.$valid && checkCouponCode(couponcode)"><i
                                                class="fa fa-search" aria-hidden="true"></i> Check coupon</button>
                                    </div>


                                </div>


                            </form>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="input-group col-md-8">
                                <span class="input-group-addon"><i class="fa fa-credit-card"
                                        aria-hidden="true"></i></span>
                                <input type="credit card" class="form-control" placeholder="Enter Card Number"
                                    ng-model="card.number" minlength="19" maxlength="19" />
                            </div>
                        </div>



                        <div class="form-group">
                            <span class="help-block text-muted small-font">Expiry Month</span>
                            <div class="input-group col-md-4">
                                <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="MM" ng-model="card.exp_month"
                                    minlength="2" maxlength="2" min="1" max="12" />
                            </div>
                        </div>


                        <div class="form-group">
                            <span class="help-block text-muted small-font">Expiry Year</span>
                            <div class="input-group col-md-4">
                                <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="YY" ng-model="card.exp_year"
                                    minlength="2" maxlength="2" />
                            </div>
                        </div>


                        <div class="form-group">
                            <span class="help-block text-muted small-font">CCV</span>
                            <div class="input-group col-md-4">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <input type="ccv" class="form-control" placeholder="CCV" ng-model="card.cvc"
                                    minlength="3" maxlength="3" />
                            </div>
                        </div>


                        <div class="form-group text-center">
                            <a ng-click="updateSubscriptionPlan()" class="btn btn-dark-azure"
                                ng-disabled="selectedPlan.planID == null">Update Subscription Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <strong>Note: </strong> <b>For cancellations, please email technicalsupport@weekcheck.com or contact your sales
            representative.</b>

    </div>

</section>
</div></div></div>
